
.gradient-custom-3 {
    background: linear-gradient(to right, rgba(22, 182, 81, 0.5), rgba(74, 127, 154, 0.5));
}
.gradient-custom-4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(74, 127, 154, 0.5));
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    
}
.gradient-custom-4:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #11a38e;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    
}

.gradient-custom-4:hover::after {
    right: auto;
    left: 0;
    width: 100%;
    
}

.gradient-custom-4 span {
    text-align: center;
    color: #183153;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.gradient-custom-4:hover span {
    color: #fff;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}
