<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/study-sessions/tests/Unit" />
        <option value="$PROJECT_DIR$/study-sessions/tests/Feature" />
        <option value="$PROJECT_DIR$/sessions-study/tests/Unit" />
        <option value="$PROJECT_DIR$/sessions-study/tests/Feature" />
        <option value="$PROJECT_DIR$/universities_learning/tests/Unit" />
        <option value="$PROJECT_DIR$/universities_learning/tests/Feature" />
        <option value="$PROJECT_DIR$/login-signup/tests/Unit" />
        <option value="$PROJECT_DIR$/login-signup/tests/Feature" />
      </list>
    </option>
  </component>
</project>